{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{% static '/css/style.css' %}" rel="stylesheet" id="style">
    <!------ Include the above in your HEAD tag ---------->
    <style>
      .bg-image {
        background-image: url("{% static '/img/bg.jpg'%}");
        background-position: center;
        background-size: cover;
        height: 100vh;
      }
    </style>
    <title>Which hero are you ?</title>
  </head>
  <body>
    <div class="bg-image">
      <div class="container">
      <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
              <h3 class="text-center"> Question 5 </h3>
              <h4>Comment décririez-vous votre sens de l'humour ? </h4>
          </div>
          <div class="modal-body">
              <div class="col-xs-3 col-xs-offset-5">
                 <div id="loadbar" style="display: none;">
                    <div class="blockG" id="rotateG_01"></div>
                    <div class="blockG" id="rotateG_02"></div>
                    <div class="blockG" id="rotateG_03"></div>
                    <div class="blockG" id="rotateG_04"></div>
                    <div class="blockG" id="rotateG_05"></div>
                    <div class="blockG" id="rotateG_06"></div>
                    <div class="blockG" id="rotateG_07"></div>
                    <div class="blockG" id="rotateG_08"></div>
                </div>
            </div>
            <div class="quiz" id="quiz" data-toggle="buttons">
              <form action="{% url 'process_answer' 51 %}" method="post">
                {% csrf_token %}
                <label class="element-animation1 btn btn-lg btn-primary btn-block">
                  <span class="btn-label">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                  </span>
                  <input type="submit" name="q_answer" style="display: none;">A. Sarcastique et ironique
                </label> 
              </form>
              <form action="{% url 'process_answer' 52 %}" method="post">
                {% csrf_token %}
                <label class="element-animation2 btn btn-lg btn-primary btn-block">
                  <span class="btn-label">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                  </span>
                  <input type="submit" name="q_answer" style="display: none;">B. Absurde et décalé
                </label> 
              </form>
              <form action="{% url 'process_answer' 53 %}" method="post">
                {% csrf_token %}
                <label class="element-animation3 btn btn-lg btn-primary btn-block">
                  <span class="btn-label">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                  </span>
                  <input type="submit" name="q_answer" style="display: none;">C. Auto-dérision et auto-dérision
                </label> 
              </form>
              <form action="{% url 'process_answer' 54 %}" method="post">
                {% csrf_token %}
                <label class="element-animation4 btn btn-lg btn-primary btn-block">
                  <span class="btn-label">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                  </span>
                  <input type="submit" name="q_answer" style="display: none;">D. Léger et ludique
                </label>
              </form>
              <form action="{% url 'process_answer' 55 %}" method="post">
                {% csrf_token %}
                <label class="element-animation4 btn btn-lg btn-primary btn-block">
                  <span class="btn-label">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                  </span>
                  <input type="submit" name="q_answer" style="display: none;">E. Sec et pince-sans-rire
                </label> 
              </form>
            </div>
     </div>
     <div class="modal-footer text-muted">
      <span id="answer"></span>
  </div>
  </div>
  </div>
  </div>
  </div>
  </body>
</html>
